
.rows {
    /* margin-top: 20%; */
    display: flex;
    justify-content: center;
}
.tile{
    border: 2px solid red;
    font-size: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.buttons {
    /* margin-top: 20%; */
    display: flex;
    justify-content: space-evenly;
}
.rotate{
    transform: rotate(180deg)
}
.up{
    margin: 0 auto;
    display: table;
}
.down{
    margin: 0 auto;
    display: table;
}
.key{
    font-size: 3em;
    cursor: pointer;
}
.moves-div{
    margin: 10px auto;
    text-align: center
}

.move-text{
    color: red;
}
.win-msg{
    font-size: 1.8em;
    padding: 60px 50px 50px 50px;
    text-align: center;
}
.move-count{
    color: red;
}
.close-btn{
    font-size: 30px;
    color: #666;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}
.modal-cover{
    height: -webkit-fill-available;
    top: 0px;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 2;
}
@media screen and (min-width: 993px){
    
    .modal{
        background: #fff;
        position: absolute;
        width: 89%;
        top: 25%;
        left: 5%;
        z-index: 1000;
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
        border-top: 4px solid red; 
    }
}
@media screen and (max-width: 992px){
    .arrow-btns{
        display: none;
    }
    .modal{
        background: #fff;
        position: absolute;
        width: 100%;
        top: 25%;
        z-index: 1000;
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
        border-top: 4px solid red; 
    }
}
.zero{
    background-color: #ddd;
    color:#ddd;
}
.two{
    background-color: lightcoral;
}
.four{
    background-color: tan;
}
.eight{
    background-color: coral;
}
.sixteen{
    background-color: sandybrown;
}
.thirty-two{
    background-color: darkkhaki;
}
.sixty-four{
    background-color: lightsalmon;
}
.one-twenty-eight{
    background-color: burlywood;
}
.two-fifty-six{
    background-color: slategrey;
}
.five-twelve{
    background-color: darkcyan;
}
.thousond-twenty-four{
    background-color: crimson;
}
.twenty-forty-eight{
    background-color: orange;
}